@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EduCenter</h1>
    <img src="https://cdn.bcm.edu/sites/default/files/styles/full_width_component_image_standard/public/media/images/963a.jpg?h=51a72048&itok=ARy7DV5Z"/>
</div>
